# Desenvolvimento local
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000




# Produção
#DJANGO_DEBUG=False
#DJANGO_SECRET_KEY=czy7^0p#5dsgsxq%i860xa#@208h!3rni1ea7kobo1qrmb!ksq
#DJANGO_ALLOWED_HOSTS=https://registro.br/painel/dominios/?dominio=conscienciapolitica.com.br
#DJANGO_CSRF_TRUSTED_ORIGINS=https://COLE_AQUI_O_SEU_DOMINIO_DO_RAILWAY_SEM_HTTPS

# Banco de Dados (Produção - Railway)
DATABASE_URL=postgresql://postgres:cgjVAFdfJrSfdRQLgvqkzyTcoXkjIwIk@postgres.railway.internal:5432/railway